@import "common.css";

.rootNode {
	-fx-padding: 20px 50px 25px 50px;
	-fx-border-width: 1px;
	-fx-border-color: -lookupBorder;
	-fx-border-insets: 15px 30px 15px 30px;
}

#splitPane {
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: -lookupBorder;
	-fx-background-color: transparent;
}

#scrollPane {
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: -lookupBorder;
	-fx-background-color: transparent;
}

#lblGuidelines {
	-fx-font-weight: bold;
	-fx-fill: maroon;
}