.background{
 -fx-background-color: cornsilk;
}
.rectanglePane{
 -fx-background-color: cornsilk;
 -fx-background-size: 1200 900;
 -fx-background-radius: 0 0 30 30;
}
.rectangleTopPane{
 -fx-background-color:  #ea995f;
 -fx-background-size: 1200 900;
 -fx-background-radius: 30 30 0 0;
}
.button{
 -fx-background-color:  #ea995f;
 -fx-background-size: 1200 900;
 -fx-background-radius: 30 30 30 30;
}