@import "common.css";

#radioContainer{
    -fx-border-width: 1px;
    -fx-border-color: -lookupBorder;
    -fx-padding: 5px;
}

#content{
    -fx-padding: 15px 0 0 0;
}

#borderPane{
    -fx-padding: 15px 40px 15px 40px;
    -fx-border-width: 1px;
    -fx-border-color: -lookupBorder;
}




