@import "common.css";

.rootNode {
	-fx-padding: 20px 50px 25px 50px;
	-fx-border-width: 1px;
	-fx-border-color: -lookupBorder;
	-fx-border-insets: 15px 30px 15px 30px;
}

#txtTotalSalesAmount {
	-fx-font-weight: bold;
	-fx-wrap-text: true;
	-fx-font-size: 15px;
}

#lblExportAsPDF {
	-fx-graphic: url("/images/PDF.png");
}

#lblExportAsExcel {
	-fx-graphic: url("/images/Excel.png");
}
