@import "common.css";

.rootNode {
	-fx-padding: 20px 50px 25px 50px;
	-fx-border-width: 1px;
	-fx-border-color: -lookupBorder;
	-fx-border-insets: 15px 30px 15px 30px;
}

#splitPane {
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: -lookupBorder;
	-fx-background-color: transparent;
}

#txtSearchSupplier {
	-fx-background-image: url(/images/search_16.png);
	-fx-background-repeat: no-repeat;
	-fx-background-position: 97%, 4;
	-fx-padding: 3px 27px 3px 7px;
}

.pendingAmount {
	-fx-font-weight: bold;
	-fx-wrap-text: true;
	-fx-font-size: 15px;
}

.pendingAmountHistory {
	-fx-background-color: antiquewhite;
	-fx-font-weight: bold;
	-fx-wrap-text: true;
	-fx-font-size: 15px;
}

.shortcut {
	-fx-text-fill: sienna;
}