@import "common.css";

#borderPane {
	-fx-padding: 15px 40px 15px 40px;
	-fx-border-width: 1px;
	-fx-border-color: -lookupBorder;
}

#lblGSTCalculationType {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblInvoiceProductSearch {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblPrintOnSave {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblInvoiceProductSearch {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblOpenDocOnSave {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblDBBackupInterval {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblSRAllowedDays {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblLowStockQtyLimit {
	-fx-graphic: url("/images/QuestionMark_16.png");
}

#lblShowPrintPreview {
	-fx-graphic: url("/images/QuestionMark_16.png");
}