* {
	-lookupBackground: #fdfbf8; /* rgb(253,251, 248 ) */
	-lookupBorder: #660033;
}

.button {
	/*-fx-background-color: rgb(216, 176, 118);*/
	-fx-background-color: darksalmon;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-radius: 6px;
	-fx-border-width: 1px;
	-fx-border-color: rgb(208, 140, 140);
	-fx-border-radius: 6px;
	-fx-cursor: hand;
}

.button:hover {
	/*-fx-background-color: rgb(225, 147, 108);*/
	-fx-background-color: rgb(231, 140, 109);
	-fx-border-color: rgb(189, 91, 91);
}

.button:pressed {
	-fx-background-color: rgb(230, 91, 57);
	-fx-border-color: rgb(150, 61, 61);
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;
}

.button:focused {
	-fx-background-color: rgb(227, 119, 87);
	-fx-border-color: mediumorchid;
	-fx-effect: dropshadow(two-pass-box, darkgray, 10, 0.0, 0, 1);
}

.hbox {
	
}

.previewScroll {
	-fx-background-color: #fdfbf8; /* rgb(253,251, 248 ) */
}

.previewPane {
	-fx-background-color: #fdfbf8; /* rgb(253,251, 248 ) */
}

.rootNode {
	-fx-background-color: #fdfbf8; /* rgb(253,251, 248 ) */
}

.toggle-button {
	-fx-background-color: darksalmon;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-radius: 6px;
	-fx-border-width: 1px;
	-fx-border-color: rgb(208, 140, 140);
	-fx-border-radius: 6px;
	-fx-cursor: hand;
}

.toggle-button:hover {
	/*-fx-background-color: rgb(225, 147, 108);*/
	-fx-background-color: rgb(231, 140, 109);
	-fx-border-color: rgb(189, 91, 91);
}

.toggle-button:pressed {
	-fx-background-color: rgb(230, 91, 57);
	-fx-border-color: rgb(150, 61, 61);
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;
}

.toggle-button:focused {
	-fx-background-color: rgb(227, 119, 87);
	-fx-border-color: mediumorchid;
	-fx-effect: dropshadow(two-pass-box, darkgray, 10, 0.0, 0, 1);
}

.tooltip {
	-fx-background-color: yellow;
	-fx-text-fill: black;
	-fx-font-size: 1em;
	-fx-font-family: monospace;
	-fx-font-weight: bold;
	-fx-wrap-text: true;
}

.list-view .list-cell:odd {
	-fx-background-color: derive(bisque, 35%);
}

.list-view .list-cell:selected, .list-view .list-cell:selected:hover {
	-fx-background-color: derive(saddlebrown, 10%);
	-fx-text-fill: white;
}

.list-view .list-cell:hover {
	-fx-background-color: bisque;
	-fx-text-fill: brown;
}